.userInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user div {
  max-width: 150px; /* Set a maximum width for the username container */
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden;
  text-overflow: ellipsis;
}

.user h2 {
  font-size: clamp(16px, 2vw, 20px); /* Dynamically adjusts the font size based on viewport width */
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds an ellipsis (...) if the text overflows */
  white-space: nowrap;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
